/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    
}
.primary-text {
    color: #f7c08a;
}
.lead {
    font-size: 20px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s ease;
}
.btn:hover {
    background: #f7c08a;
    color: #333;
    transition: all 1s ease;
}
.btn-light {
    background: #f4f4f4;
    color: #333;
}
.bg-dark {
    background: #333;
    color: #fff;
}
.bg-light {
    background: #f4f4f4;
    color: #333;

}.bg-primary {
    background: #f7c08a;
    color: #333;
}
.clr {
    clear: both;
}
/* padding */
.py-1{
    padding: 10px 0;
}
.py-2{
    padding: 20px 0;
}
.py-3{
    padding: 30px 0;
}

.l-heading {
    font-size: 40px;
}

.site-logo img {
    max-height: 48px;
     max-width: 100%;
     vertical-align: middle;
}

    
/* main styling */
html,body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p{
    margin: 10px 0;
}

/* Navbar */
#navbar {
    background: #082834;
    color: #fff;
    overflow: auto;
    width: 100vw;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
    padding: 8px;
    opacity: 0.9;
   

}

#navbar p {
    float: left;
     
}

#navbar p img {
    border-radius: 50%;
}

#navbar ul {
    list-style: none;
    float: right;
    margin-top: -20px;
    }

#navbar ul li {
    float: left;
    padding-top: 20px;
}

#navbar ul li a {
    display: block;
    padding: 0 40px;
    text-align: center;
    color: #fff;
    transition: all 1s ease;
}

#navbar ul li a:hover,
#navbar ul li a.current {
    background: #444;
    color: #f7c08a;
    border-radius: 10px;
    transition: all 0.8s ease;
}
.menu-wrap input {
    visibility: hidden;
    margin: 0px;
}

/* Showcase */
#showcase {
    background: url('../img/good.jpg') repeat
    center center/cover;
    height: 100vh;
}

#showcase .showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 200px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}
/* Home info */
#home-info {
    height: 400px;
    margin-bottom: 10px;
}
#home-info .info-img {
    float: left;
    width: 50%;
    background: url('../img/hotel_in2.jpg') no-repeat;
    min-height: 100%;
    
}

#home-info .info-content {
    float: right;
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .info-content p {
    padding-bottom: 30px;
}
.tuns { 
        height: 350px;
  
}
.lead {
    background: black;
    opacity: 0.9;
    border-radius: 5px;

}

/* features */

.skills-container {
    display: flex;
    margin: 20px 20px 0 20px;
   
}
.skills-container .box.bg-light {
      margin: 0 10px 0 10px
}
.box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 10px;
}

.soft-container {
    text-align: center;
    color: white;
   
}
.soft-container h2 {
     padding-top: 20px;
}
.soft-container p{
    padding: 0 10px ;
}
/* About info */
#abt {
    margin: auto;
    max-width: 1100px;
    height: 400px;
    /* overflow: auto; */
    padding: 0 20px;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
}
#about-info {
    margin-top: 100px;
}
#about-info .info-right {
    float: right;
    width: 50%;
    min-height: 100%;
}

#about-info .info-right img {
    display: block;
    margin-bottom: 60px;
    margin: auto;
    width: 50%;
    border-radius: 50%;
}
#about-info .info-left {
    display: block;
    float: left;
    max-width: 50%;
    min-height: 100%;
}
.info-left a {
    margin-left: 5em;
    background: #45545a;
    padding: 6px;
    border-radius: 10px;
    color: white;
    transition: all 1s ease;
    }
    .info-left a:hover {
        background: teal;
        color: wheat ;
        transition: all 1s ease;
    }
/* skills stat */
.skills {
    background: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
    font-size: 1.8rem;
    padding: 30px 10px;
}

.skills-container2 {
    display: flex;
    flex-wrap: wrap;
}

.skills-box {
    width: 400px;
    margin: 0 auto;
}

.tech-skills {
    margin-bottom: 1.4em;
}

.tech-skills i {
    width: 45%;
    white-space: nowrap;
    text-align: center;
}

/* SOft-skill section */
.soft-container {
    background: whitesmoke;
    text-align: center;
    font-size: 1.6rem;
    padding: 3rem 1.5rem;
    color: var(--primary-color);
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
}
.skill-card {
    width: 280px;
    margin: 2rem auto;
    background: var(--light-color);
    border: 1px solid var(--primary-color);
    border-radius: 1rem;
    padding: 2rem;
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.skill-card h4 {
    margin-bottom: 50px;
}
.skill-head {
    border-bottom: 1px solid var(--primary-color);
}

.skill-head img {
    width: 40%;
    border-radius: 50%;
}

.skill-msg {
    display: flex;
    text-align: left;
    
  
}

.skill-msg span:first-child {
    font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
}

.skill-msg span:last-child {
    font-size: 4rem;
    align-self: flex-end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 10px;
}

.box {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* image-section */
.testimonial-section {
    height: 100px;
    width: 60vw;
    margin: 20px auto;
}
 .testimonial img {
    width: 100px;
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}
 .testimonial {
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    opacity: 0.9;
    overflow: auto;
    text-align: center;
    
    
}
#image-section  h2 {
    color: #fff;
    text-align: center;
    padding-bottom: 40px;
}

/* Contact form */
#contact-form.py-3 {
    display: flex;
    flex-wrap: wrap;
    }
#contact-form .socials-container{
    /* color: #f7c08a; */
    background: #f7c08a;
}
.socials-container {
    margin-left: 200px;
    padding: 40px 40px 40px 100px;
    border-radius: 40px;
    /* width: 100%; */
  }
  .socials-container h2{
    text-align: center;
    margin: auto;
  }
  .socials-container a {
    display: block;
    margin: 0 auto;
    width: 250px;
    margin-top: 20px;
  }
#contact-form.py-3{
    margin-top: 100px;
}
#contact-form .form-group {
    margin-bottom: 20px;
}

#contact-form label {
    display: block;
    margin-bottom: 5px;
}
#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px #ddd solid;

}

#contact-form textarea {
    height: 200px;
}

#contact-form input:focus,
.footer-email input:focus,
#contact-form textarea:focus {
    Outline: none;
    border-color: #f7c08a;

}

#skillset {
    font-size: 60px;
    line-height: 1.2em;
    text-align: center;
    padding-top: 50px;
}


#main-footer {
    text-align: center;
    background:#082834;
    color: #fff;
    padding: 20px;
    overflow: auto;
    margin-top: 180px;
}

.footer-email  {
    width: 50% !important; 
    border-radius: 4px !important;
}




#social-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    grid-gap: 1rem;
    background: rgb(247, 252, 252);
    border-radius: 3px;
    padding: 10px;
        /* text-align: center; */

}
#social-container a {
    transition: all 1s ease;
}
 #social-container a:hover {
    background: lightcoral;
    transition: all 1s ease;
    border-radius: 3px;
}
.footer-flex {
    display: flex;
    margin-left: 0 100px;
    flex: 1;
    justify-content: space-evenly;
}

/* portfolio page */
#work-intro {
    margin-top: 100px;
    padding: 50px;
    padding-bottom: 0px;
}
.project-house {
    margin-top: -20px;
    padding-top: 50px;
    background: #ddd;
}

 #work-intro h1 {
      text-align: center;
      margin: 40px 0;
      font-size: 3.5rem;
  }
  #work-intro p {
      text-align: center;
      margin-bottom: 15px;
      font-size: 1.5rem;
  }
  #hi {
    margin-top: 150px;
    
}
  .projects {
    font-size: 1.6rem;
    text-align: center;
    margin: 3rem 2rem;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pro-box {
    width: 320px;
    margin: 3rem auto;
}

 
iframe{
    
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 6px var(--secondary-color);
}
/* mansonry grid */
            
.mansonry {
    width: 90% ;
    margin-top: 400px;
    margin: 400px auto 0 auto;
    padding: 20px;
    -moz-columns: 4;
         columns: 4;
    -moz-column-gap: 30px;
         column-gap: 30px;
         border: whitesmoke solid;
         }

         .m-heading {
             color: #f7c08a;
         }
.mansonry .box {
    width: 100%;
    margin-bottom:  10px;
    padding: 10px;
    background-color: whitesmoke;
    overflow: hidden;
}

.mansonry .box img {
    max-width: 270px;
    border-radius: 20px;
}

.mansonry.box h4 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 10px;
    
}
.mansonry.box h2 {
    color: whitesmoke;
    }

#picture-section {
    margin-top: 70px;
}

